@font-face {
    font-family: 'kenzoregular';
    src: url('../font/kenzo_regular-webfont.eot');
    src: url('../font/kenzo_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kenzo_regular-webfont.woff') format('woff'),
         url('../font/kenzo_regular-webfont.ttf') format('truetype'),
         url('../font/kenzo_regular-webfont.svg#kenzoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charringtonregular';
    src: url('../font/charring-webfont.eot');
    src: url('../font/charring-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/charring-webfont.woff') format('woff'),
         url('../font/charring-webfont.ttf') format('truetype'),
         url('../font/charring-webfont.svg#charringtonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hidethis {
    display: none;
}

body {

}

/*
******************
* =Header
******************
*/
header {
    background: url('../img/header/whitebackgroundforfirstpart.png');
    width: 100%;
    height: auto;
}

.banner {
    width: 33.333%;
    margin: 0 auto; /*1st=top/bot 2nd=left+right*/
    padding: 70px 0;
    text-align: center;
}

.banner h1 {
    display: hidden;
}

.banner .logopic {
    display: block;
    width: 100%;
    height: auto;
    margin: -40px auto;
}

p#designword {
    font-family: 'charringtonregular';
    font-weight: 900;
    font-size: 1.8em;
}

.bannerbutton {
    width:25%;
    height:160px;
    font-family: 'kenzoregular';
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    display: inline;
    float: left;
}

.bannerbutton a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 37.5%;
}

#am {
    display: inline;
    font-size: 0.8em;
    text-decoration: underline;
}

#designbutton {
    background-color: #EE335C;
}

#whoamibutton {
    background-color: #B4E6E2;
}

#favbutton {
    background-color: #4B72EE;
}

#coolbutton {
    background-color: #F6E610;
}

/*
******************
* =Navigation bar
******************
*/
nav {
    width: 100%;
    position: fixed;
    top: 2%;
}

nav ul {
    width: 100%;
    list-style: none;
}

nav li {
    float:left;
    width: 25%;
    display: inline;
    margin: 0;
    height: 25px;
    text-indent: -99999px;
}

/*nav ul .navbutton {
    display: inline;
    width: 100%;
    height: 25px;
    text-indent: 0px;
}*/

nav ul li:first-child {
    background: rgb(238, 51, 92);
    background: rgba(238, 51, 92, 0.7);
}

nav ul li:nth-child(2) {
    background: rgb(180, 230, 226);
    background: rgba(180, 230, 226, 0.7);
}

nav ul li:nth-child(3) {
    background: rgb(75, 114, 238);
    background: rgba(75, 114, 238, 0.7);
}

nav ul li:nth-child(4) {
    background: rgb(246, 230, 16);
    background: rgba(246, 230, 16, 0.7);
}

nav .navbutton {
    width: 100%;
    height: 100%;
}

/*
******************
* =Slide1
******************
*/

#slide1 {
    width: 100%;
    height: 60%;
    background: url('../img/slide1/slide1bg.png');
    clear: both;
}

#slide1 h2 {
    font-family: 'kenzoregular';
    font-size: 1.8em;
    color: #EE335C;
    margin-left: 8%;
    position: relative;
    top: 75px;
}

#slide div {
    display: inline;
}

.designcontainer {
    position: relative;
    top: 90px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    clear: all;
}

.designexamples {
    display: inline;
    background-color: rgba(200, 200, 200, 0.6);
    width: 23%;
    height: 0px;
    padding-bottom: 25%;
    float: left;
    margin: 1% 1%;
    text-align: center;
}

.designexamples a {
    text-decoration: none;
}

.designname {
    padding-top: 40%;
    visibility: hidden;
    font-family: 'helvetica nueue';
    font-size: 1.18em;
    font-weight: 100;
    color: black;
}

/*
******************
* =Slide2
******************
*/

#slide2 {
    width: 100%;
    height: auto;
    background: url('../img/slide2/natural_paper.png');
    clear: both;
}



#whoami {
    width: 100%;
}

#whoami img {
    width: 100%;
    height: auto;
}

/*
******************
* =Slide3
******************
*/

#slide3 {
    width: 100%;
    height: auto;
}

#favlist {

}

#blackoutsunrise {
    font-family: 'onyxregular';
    font-size: 1em;
    text-transform: uppercase;
}

#trackregular {
    font-family: 'onyxregular';
    font-size: 1em;
    text-transform: uppercase;
}

#lovelolinelight {
    font-family: 'onyxregular';
    font-size: 1em;
    text-transform: uppercase;
}

#canterboldstrips {
    font-family: 'onyxregular';
    font-size: 1em;
    text-transform: uppercase;
}

#loveloblack {
    font-family: 'onyxregular';
    font-size: 1em;
    text-transform: uppercase;
}

#onyxregular {
    font-family: 'onyxregular';
    font-size: 6em;
    text-transform: uppercase;
}
