@font-face {
    font-family: 'kenzoregular';
    src: url('../font/kenzo_regular-webfont.eot');
    src: url('../font/kenzo_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kenzo_regular-webfont.woff') format('woff'),
         url('../font/kenzo_regular-webfont.ttf') format('truetype'),
         url('../font/kenzo_regular-webfont.svg#kenzoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charringtonregular';
    src: url('../font/charring-webfont.eot');
    src: url('../font/charring-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/charring-webfont.woff') format('woff'),
         url('../font/charring-webfont.ttf') format('truetype'),
         url('../font/charring-webfont.svg#charringtonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../font/bebasneue-webfont.eot');
    src: url('../font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bebasneue-webfont.woff') format('woff'),
         url('../font/bebasneue-webfont.ttf') format('truetype'),
         url('../font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackoutsunrise';
    src: url('../font/blackout_sunrise-webfont.eot');
    src: url('../font/blackout_sunrise-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/blackout_sunrise-webfont.woff') format('woff'),
         url('../font/blackout_sunrise-webfont.ttf') format('truetype'),
         url('../font/blackout_sunrise-webfont.svg#blackoutsunrise') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'canterbold_strips';
    src: url('../font/canter_bold_strips-webfont.eot');
    src: url('../font/canter_bold_strips-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/canter_bold_strips-webfont.woff') format('woff'),
         url('../font/canter_bold_strips-webfont.ttf') format('truetype'),
         url('../font/canter_bold_strips-webfont.svg#canterbold_strips') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'loveloblack';
    src: url('../font/lovelo_black-webfont.eot');
    src: url('../font/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lovelo_black-webfont.woff') format('woff'),
         url('../font/lovelo_black-webfont.ttf') format('truetype'),
         url('../font/lovelo_black-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'loveloline_light';
    src: url('../font/lovelo_line_light-webfont.eot');
    src: url('../font/lovelo_line_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lovelo_line_light-webfont.woff') format('woff'),
         url('../font/lovelo_line_light-webfont.ttf') format('truetype'),
         url('../font/lovelo_line_light-webfont.svg#loveloline_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trackregular';
    src: url('../font/track-webfont.eot');
    src: url('../font/track-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/track-webfont.woff') format('woff'),
         url('../font/track-webfont.ttf') format('truetype'),
         url('../font/track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hidethis {
    display: none;
}

body {

}

/*
******************
* =Header
******************
*/
header {
    background: url('../img/header/whitebackgroundforfirstpart.png');
    width: 100%;
    height: auto;
}

.banner {
    width: 33.333%;
    margin: 0 auto; /*1st=top/bot 2nd=left+right*/
    padding: 70px 0;
    text-align: center;
}

.banner h1 {
    display: hidden;
}

.banner .logopic {
    display: block;
    width: 100%;
    height: auto;
    margin: -40px auto;
}

p#designword {
    font-family: 'charringtonregular';
    font-weight: 900;
    font-size: 1.8em;
}

.bannerbutton {
    width:25%;
    height:160px;
    font-family: 'kenzoregular';
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    display: inline;
    float: left;
}

.bannerbutton a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 37.5%;
}

#am {
    display: inline;
    font-size: 0.8em;
    text-decoration: underline;
}

#designbutton {
    background-color: #EE335C;
}

#whoamibutton {
    background-color: #B4E6E2;
}

#favbutton {
    background-color: #4B72EE;
}

#coolbutton {
    background-color: #F6E610;
}

/*
******************
* =Navigation bar
******************
*/
nav {
    width: 100%;
    position: fixed;
    top: 2%;
}

nav ul {
    width: 100%;
    list-style: none;
}

nav li {
    float:left;
    width: 25%;
    display: inline;
    margin: 0;
    height: 25px;
    text-indent: -99999px;
}

/*nav ul .navbutton {
    display: inline;
    width: 100%;
    height: 25px;
    text-indent: 0px;
}*/

nav ul li:first-child {
    background: rgb(238, 51, 92);
    background: rgba(238, 51, 92, 0.7);
}

nav ul li:nth-child(2) {
    background: rgb(180, 230, 226);
    background: rgba(180, 230, 226, 0.7);
}

nav ul li:nth-child(3) {
    background: rgb(75, 114, 238);
    background: rgba(75, 114, 238, 0.7);
}

nav ul li:nth-child(4) {
    background: rgb(246, 230, 16);
    background: rgba(246, 230, 16, 0.7);
}

nav .navbutton {
    width: 100%;
    height: 100%;
}

/*
******************
* =Slide1
******************
*/

#slide1 {
    width: 100%;
    height: auto;
    background: url('../img/slide1/slide1bg.png');
    overflow: hidden;
}

#slide1 h2 {
    font-family: 'kenzoregular';
    font-size: 1.8em;
    color: #EE335C;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: 3%;
    text-decoration: underline;
}

#slide div {
    display: inline;
}

.designcontainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.designcontainer:last-child {
    margin-bottom: 10%;
}

.designexamples {
    display: inline;
    background-color: rgba(200, 200, 200, 0.5);
    width: 23%;
    height: 0px;
    padding-bottom: 25%;
    float: left;
    margin: 1% 1%;
    text-align: center;
}

.designexamples a {
    text-decoration: none;
}

.designname {
    padding-top: 40%;
    visibility: hidden;
    font-family: 'helvetica nueue';
    font-size: 1.533em;
    font-weight: 100;
    color: black;
}

/*
******************
* =Slide2
******************
*/

#slide2 {
    width: 100%;
    height: auto;
    background: url('../img/slide2/natural_paper.png');
    clear: both;
}



#whoami {
    width: 100%;
}

#whoami img {
    width: 100%;
    height: auto;
}

/*
******************
* =Slide3
******************
*/

#slide3 {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#slide3 h2 {
    font-family: 'kenzoregular';
    font-size: 2.5em;
    color: white;
    text-shadow:
    -1px -1px 0 #4B72EE,
    1px -1px 0 #4B72EE,
    -1px 1px 0 #4B72EE,
    1px 1px 0 #4B72EE;  
    display: inline;
    float: left;
    overflow: hidden;
    margin-top: 30%;
    margin-left: 4%;
    margin-right: 2%;
    width: 34%;
}

/*#favlist {
    float: left;
    overflow: hidden;
    height: 100%;
    padding: 1% 1% 1% 1%;
    box-shadow: -10px 0px 20px -5px #aaaaaa;
}

#blackoutsunrise {
    font-family: 'blackoutsunrise';
    font-size: 4.25em;
    text-transform: uppercase;
    color: #505050;
}

#trackregular {
    font-family: 'trackregular';
    font-size: 1.8333em;
    text-transform: uppercase;
}

#lovelolinelight {
    font-family: 'loveloline_light';
    font-size: 7.75em;
    text-transform: uppercase;
    line-height: 95%;
}

#canterboldstrips {
    font-family: 'canterbold_strips';
    font-size: 10.667em;
    text-transform: uppercase;
    line-height: 85%;
    letter-spacing: 0px;
    color: #909090;
}

#loveloblack {
    font-family: 'loveloblack';
    font-size: 2.42em;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    color: #909090;
}

#onyxregular {
    font-family: 'onyxregular';
    font-size: 4.64em;
    text-transform: uppercase;
    line-height: 95%;
    letter-spacing: -1px;
}*/

#favlist {
    width: 60%;
    display: inline;
    float: left;
    background: url('../img/slide3/dark_wall.png');
}

#favlist img {
    width: 100%;
    height: auto;
}

/*
******************
* =Slide4
******************
*/

#slide4 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: url('../img/slide4/wall.png');
    clear: left;font-family: 'bebas_neueregular';
    color: #F6E610;
}

#slide4 h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.6);
    width: 33.333%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 4%;
}

#socialmedia {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

#socialmedia a {
    width: 100%;
    overflow: hidden;
}

#socialmedia img {
    width: 33.333%;
    height: auto;
    float: left;
}

#followup {
    clear: left;
    text-align: right;
    text-decoration: none;
    font-size: 2em;
    text-transform: lowercase;
    margin-top: 3%;
    margin-right: 3%;
}
